@use 'sass:map';
@use 'lib-variables' as *;

$-private-radius: 3px;

@mixin border-style($params) {
  border-width: map.get($params, size);
  border-color: map.get($params, color);
  border-style: solid;
  border-radius: $-private-radius;
}
  
@mixin rounded {
  border-radius: $-private-radius;
}
  
%section-heading {
  font-size: $heading-size;
  color: $primary-color;
}