@use 'src/styles/custom';

p {
    color: custom.$primary-color;

    &::first-letter {
        background: custom.$background;
        text-shadow: 2px 2px 0 custom.$accent;
    }
}

.poo {
    @include custom.poop();
    box-shadow: custom.make-shadow(16px, #3f3f3f);
}

.alien {
    @extend %invader;
}
